
@{
    ViewBag.Title = "ButtonPressed";
}

@using DAL;
@{string Lettre = (string)ViewData["value"];
    if (Lettre == "0")
    {



        var result1 = from Ta in (ViewData["data"] as List<Animes>)
                      where Ta.Id < 3
                      orderby Ta.Nom
                      select Ta;

        foreach (var list in result1)
        {

            <h2>
                @Html.ActionLink(@list.Nom, "Streaming", "Steaming", new { Nom = @list.Nom, Chiffre = 0 }, null)
                <img class="image" src="~/image/@list.Image" />
            </h2>
            <div>@list.Genres</div>
            <p class="synopsis">@list.Synopsis</p>

        }
    }
    if (Lettre != "0")
    {



        var result2 = from Ta in (ViewData["data"] as List<Animes>)
                      where Ta.Nom.StartsWith(Lettre)
                      orderby Ta.Nom
                      select Ta;

        foreach (var list in result2)
        {

            <h2> @list.Nom <img class="image" src="~/image/@list.Image" /></h2>
            <div>@list.Genres</div>
            <p class="synopsis">@list.Synopsis</p>

        }

    }
    using (Html.BeginForm("ButtonPressed", "Liste", FormMethod.Post))
    {
        <h3 class="text-center">
            <input type="submit" name="magicButton" value="0" />
            <input type="submit" name="magicButton" value="A" />
            <input type="submit" name="magicButton" value="B" />
            <input type="submit" name="magicButton" value="C" />
            <input type="submit" name="magicButton" value="D" />
            <input type="submit" name="magicButton" value="E" />
            <input type="submit" name="magicButton" value="F" />
            <input type="submit" name="magicButton" value="G" />
            <input type="submit" name="magicButton" value="H" />
            <input type="submit" name="magicButton" value="I" />
            <input type="submit" name="magicButton" value="J" />
            <input type="submit" name="magicButton" value="K" />
            <input type="submit" name="magicButton" value="L" />
            <input type="submit" name="magicButton" value="M" />
            <input type="submit" name="magicButton" value="N" />
            <input type="submit" name="magicButton" value="O" />
            <input type="submit" name="magicButton" value="P" />
            <input type="submit" name="magicButton" value="Q" />
            <input type="submit" name="magicButton" value="R" />
            <input type="submit" name="magicButton" value="S" />
            <input type="submit" name="magicButton" value="T" />
            <input type="submit" name="magicButton" value="U" />
            <input type="submit" name="magicButton" value="V" />
            <input type="submit" name="magicButton" value="W" />
            <input type="submit" name="magicButton" value="X" />
            <input type="submit" name="magicButton" value="Y" />
            <input type="submit" name="magicButton" value="Z" />
        </h3>
    }

}


